nav{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.058);
    height: 50px;
    width: 100%;

}
nav ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.nav_item i {
    font-size: 25px;
}